@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;
}